@charset "UTF-8";

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.8rem;
    margin-bottom: 3rem;
}

h2 {
    font-size: 2.4rem;
    border-bottom: 2px solid #e5e5e5;
    padding: 0 0 0.5rem;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.6rem;
    font-weight: bold;
}

h6 {
    font-size: 1.6rem;
}
@media screen and (max-width: 780px) {
    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h4,h5,h6 {
        font-size: 1.6rem;
    }
}

p {
    margin: 0 0 2rem;
    line-height: 1.75;
}

/* links */
a {
    color: #637f97;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #637f97;
}

a:focus,
a:active{
    outline-offset: 1px;
}

/* lists */
ul, ol{
    padding-left: 1.5rem;
}

ul {
    list-style-type:none;
}

ol {
    margin: 0;
    padding: 0;
    counter-reset: item;
    list-style-type:none;
    display: table;
}

ol > li {
    counter-increment: foo;
    display: table-row;
}

ol > li::before {
    content: counters(item, '.') '.';
    counter-increment: item;
    display: table-cell;
    padding-right: 0.5rem;
}

ol.list-inline > li{
    padding: 0;
    margin: 0 2rem 0 0;
}

ol.list-inline > li::before {
    display: inline-block;
    padding-right: 0.5rem;
}

dt {
    font-weight: bold;
}

dt, dd{
    line-height: 1.75;
}

thead th {
    background-color: #f0f0f0;
}

th, td {
    border: 1px solid #e5e5e5;
    padding: 1rem;
}

@media screen and (max-width: 780px){
    th, td {
    padding: 0.5rem;
    }
}

th {
    background-color: #f9f9f9;
}

blockquote {
    position: relative;
    border: none;
    margin-left: 3.5em;
    font-family: serif;
    font-size: 1em;
    color: #4d4d4d;
}

blockquote::before {
    position: absolute;
    top: -0.3em;
    left: -0.6em;
    content: '“';
    font-size: 2.5em;
    font-family: serif;
    color: #aaaaaa;
}

pre {
    white-space: pre-wrap;
}

label {
    width: 100%;
    font-weight: normal;
}

input,
textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    clear: both;
    border: 1px solid;
    width: 100%;
    max-width: 100%;
}

input {
    height: auto;
}


/* article */
article.entry h2 {
    overflow: hidden;
    border-bottom: 2px solid #bbbbbb;
    line-height: 1.75;
	margin-bottom: 2rem;
}