
/* Navigation */    
.primary-menu-side {
    display: block;
    overflow: hidden;
    height: auto;
    width: 30rem;
    font-size: 1.4rem;
    background-color:#f9f9f9;
    padding: 0;
    color: #4d4d4d;
}

@media only screen and (max-width: 991px) {
    .primary-menu-side {
        width: 100%;
    }
}
.primary-menu-side .primary-menu-container {
    height: 100%;
    width: 100%;
}

.primary-menu-side ul { 
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.6rem;
}

.primary-menu-side ul li { 
    margin: 0;
    padding: 0;
}

.primary-menu-side .primary-menu-container > .nav-container:not(:last-child) {
    margin: 0;
    padding: 0;
    border-top: 1px dotted #e5e5e5;
    border-bottom: 1px dotted #e5e5e5;
    width: 100%;
    color: #aaaaaa;
}

/* select-language*/
.primary-menu .acd-check{
  display: none;
}

.primary-menu .acd-label{
  display: block;
    font-size: 1.6rem;
    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
    margin-bottom: 0;
    position:relative;
    cursor: pointer;
}

.primary-menu .acd-label::after {
    font-family: fontawesome;
    content: "\f57e";
    right: 0;
    position: absolute;
        width: 3.6rem;
    text-align: center;
}

.primary-menu .acd-label:hover, 
.primary-menu .acd-label:focus {
    background: #e8e8e8;
    text-decoration: none;
    cursor: pointer;
}

.primary-menu .acd-check:checked + .acd-label{
    background-color: #637f97;
    color:#ffffff;
}

.primary-menu .acd-content{
  height: 0;
  line-height: 0;
  opacity: 0;
  padding: 0;
  transition: .5s;
  visibility: hidden;
  -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.primary-menu .acd-check:checked + .acd-label + .acd-content{
  height: 100%;
  opacity: 1;
  visibility: visible;
  line-height: 1.75;
}

.primary-menu .primary-menu .acd-content ul li:not(:last-child) {
    border-bottom: 1px dotted #e5e5e5;
}

.primary-menu .acd-content ul li a{
    position: relative;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
    display: block;
    border-bottom: 1px dotted #e5e5e5;
    color: #4d4d4d;
}

.primary-menu .acd-content ul li a::before{
    content: '';
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    top: 1.5rem;
    left: 1rem;
    border-bottom: solid 2px #4d4d4d;
    border-left: solid 2px #4d4d4d;
}
.primary-menu .acd-content ul li a:hover, 
.primary-menu .acd-content ul li a:focus {
    background: #e8e8e8;
    text-decoration: none;
    cursor: pointer;
}

/* main-menu*/
.primary-menu .nav-container .main-menu .menu-item:not(:last-child){
    border-bottom: 1px dotted #e5e5e5;
}

.primary-menu .nav-container .menu-item > a,
.primary-menu .nav-container .menu-item > a:hover,
.primary-menu .nav-container .menu-item > a:active,
.primary-menu .nav-container .menu-item > a:visited{
    position: relative;
    color:#4d4d4d;
    display: block;
    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
}

.primary-menu .nav-container .main-menu .menu-item > a:hover,
.primary-menu .nav-container .main-menu .menu-item > a:focus{
    background: #e8e8e8;
    text-decoration: none;
    cursor : pointer;
}

.primary-menu .nav-container .main-menu .sub-menu > .menu-item a::before{
    content: '';
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    top: 1.5rem;
    left: 1rem;
    border-bottom: solid 2px #4d4d4d;
    border-left: solid 2px #4d4d4d;
}

.primary-menu .nav-container .menu-item.menu-item-has-children.is-open a:not([href])::before,
.primary-menu .nav-container .menu-item.menu-item-has-children.is-close a:not([href])::before{
    position: absolute;
    content:"";
    width: 1.2rem;
    height: 2px;
    background-color:#4d4d4d;
    right: 1rem;
    top: 50%;
    -webkit-transform : translateY(-50%);
        -ms-transform : translateY(-50%);
            transform : translateY(-50%);
    border: none;
}

.primary-menu .nav-container .menu-item.menu-item-has-children.is-open a:not([href])::after{
   position: absolute;
    content:"";
    width: 1.2rem;
    height: 2px;
    background-color:#4d4d4d;
    right: 1rem;
    top: 50%;
    -webkit-transform : translateY(-50%)rotate(90deg);
        -ms-transform : translateY(-50%)rotate(90deg);
            transform : translateY(-50%)rotate(90deg);
}

.primary-menu .nav-container .main-menu .menu-item.menu-item-has-children:not(.is-open) > a:not([href]){
    background-color: #637f97;
    color: #ffffff;
    border-color: #637f97;
}
.primary-menu .nav-container .main-menu .menu-item.is-close a:not([href]):hover,
.primary-menu .nav-container .main-menu .menu-item.is-close a:not([href]):active{
    opacity: 0.8;
}

.primary-menu .nav-container .main-menu .menu-item.is-close a:not([href])::before{
    background-color: #ffffff;
}

/* sub menu*/
.primary-menu .nav-container .menu-item .sub-menu{
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}

.primary-menu .nav-container .menu-item .sub-menu.active {
    line-height: 1.75;
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.primary-menu .nav-container .menu-item .sub-menu.inactive{
    line-height: 0;
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.primary-menu .nav-container .menu-item.is-close .sub-menu,
.primary-menu .nav-container .menu-item.is-open .sub-menu{
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.primary-menu .nav-container .sub-menu li.menu-item > a{
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
}

.primary-menu .nav-container .sub-menu li.menu-item > a:hover,
.primary-menu .nav-container .sub-menu li.menu-item > a:hover{
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
}

@media only screen and (max-width: 991px){
    .primary-menu-side .sub-menu a { 
        border-color: #F0F0F0;
    }
    
    .primary-menu-side .sub-menu .current-menu-item a,
    .primary-menu-side .sub-menu .current_page_item a,
    .primary-menu-side .sub-menu .current-cat a { background: #dddddd; }

    .primary-menu-side .sub-menu .sub-menu .current-menu-item a,
    .primary-menu-side .sub-menu .sub-menu .current_page_item a,
    .primary-menu-side .sub-menu .sub-menu .current-cat a { background: #dddddd; }
}

/* current */
.primary-menu .nav-container .main-menu .sub-menu .current-menu-item a,
.primary-menu .nav-container .main-menu .sub-menu .current-menu-item a:visited,
.primary-menu .nav-container .main-menu .sub-menu .current-menu-item a:hover,
.primary-menu .nav-container .main-menu .sub-menu .current-menu-item a:active{
    background-color: #e8e8e8;
    border-color: #637f97;
    color: #4d4d4d;
}

.primary-menu .nav-container .main-menu > .menu-item.current_page_item > a,
.primary-menu .nav-container .main-menu > .menu-item.current_page_item > a:visited,
.primary-menu .nav-container .main-menu > .menu-item.current_page_item > a:hover,
.primary-menu .nav-container .main-menu > .menu-item.current_page_item > a:active{
    background-color: #637f97;
    color: #ffffff;
}

.primary-menu .nav-container .main-menu > .menu-item.current_page_item a:hover,
.primary-menu .nav-container .main-menu > .menu-item.current_page_item a:active{
    opacity: 0.8;
}


/* mobile menu button */
.navMenu #checkMenuButton,
.navMenu label[for="checkMenuButton"]{
    display: none;
}

@media only screen and (max-width: 991px) {
    .navMenu {
        display: block;
        background-color: #f9f9f9;
        border-bottom: 1px solid #e5e5e5;
    }

    .navMenu label[for="checkMenuButton"]{
        z-index: 100;
        margin: 0;
        padding: 0 1rem 0 1rem;
        cursor: pointer;
        width: 5rem;
        height: 4rem;
        display: block;
        float: left;
    }
    .navMenu label[for="checkMenuButton"] span {
        position: relative;
        top: 50%;
        display: block;
        width: calc(100% - 1rem);
        height: 3px;
        margin: 0 auto;
        background-color: #4d4d4d;
        font-size: 0px;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }
    .navMenu label[for="checkMenuButton"] span::before,
    .navMenu label[for="checkMenuButton"] span::after {
        position: absolute;
        width: calc(100% - 1rem);
        width: 100%;
        height: 100%;
        background-color: #4d4d4d;
        content: '';
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }


    .navMenu label[for="checkMenuButton"] span::before {
        -webkit-transform: translateY(-250%);
            -ms-transform: translateY(-250%);
                transform: translateY(-250%);
    }

    .navMenu label[for="checkMenuButton"] span::after {
        -webkit-transform: translateY(250%);
            -ms-transform: translateY(250%);
                transform: translateY(250%);
    }

    .navMenu #checkMenuButton:checked ~ label[for="checkMenuButton"] span{
        background-color: transparent;
    }

    .navMenu #checkMenuButton:checked ~ label[for="checkMenuButton"] span::before {
        -webkit-transform: translateY(0) rotate(45deg);
            -ms-transform: translateY(0) rotate(45deg);
                transform: translateY(0) rotate(45deg);
    }

    .navMenu #checkMenuButton:checked ~ label[for="checkMenuButton"] span::after {
        -webkit-transform: translateY(0) rotate(-45deg);
            -ms-transform: translateY(0) rotate(-45deg);
                transform: translateY(0) rotate(-45deg);
    }
}

/* mobile menu */

@media only screen and (max-width: 991px){
    .navMenu #checkMenuButton ~ .primary-menu-side {
        line-height: 0;
        opacity: 0;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s ;
        visibility: hidden;
        height: 0;

    }

    .navMenu #checkMenuButton:checked ~ .primary-menu-side {
        line-height: 1.75;
        opacity: 1;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        visibility: visible;
        height: 100%;
    }
}


/* sidebarContent */
.sidebarContent h2{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Hiragino Sans", "Noto Sans CJK JP", "Original Yu Gothic", "Yu Gothic", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji";
    margin: 0 0 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #637f97;
}

.sidebarContent p{
    margin: 0 0 1rem;
}


/* search Form */
.navMenu .search-form{
    position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
    display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
    width: auto;
    border-bottom: 1px dotted #e5e5e5;
}
.navMenu .search-form label {
        display: -webkit-box;
        display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    font-weight: normal;
    position: relative;
    width: auto;
    max-width: none;
}
.navMenu .search-form label::after {
    font-family: "fontawesome";
    content: "\f002";
    position: absolute;
    top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    padding: 0 1rem;
    z-index: 1;
}
.navMenu .search-form label:focus::after {
    right: 0;
}
.navMenu input[type="search"]{ 
    width: calc(30rem - 3.6rem);
    height: auto;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    margin: 0;
    color: #4d4d4d;
    background-color: #f9f9f9;
    border: none;
}

.navMenu input[type="search"]:hover,
.navMenu input[type="search"]:active,
.navMenu input[type="search"]:focus{ 
    -webkit-transition: border 0.3s, width 0.3s, color 0.3s;
    -moz-transition: border 0.3s, width 0.3s, color 0.3s;
    -ms-transition: border 0.3s, width 0.3s, color 0.3s;
    -o-transition: border 0.3s, width 0.3s, color 0.3s;
    transition: border 0.3s, width 0.3s, color 0.3s;
    color: #4d4d4d;
}

.navMenu input[type="search"]::-webkit-input-placeholder {
    color: #4d4d4d;
}
.navMenu input[type="search"]::-moz-placeholder {
    color: #4d4d4d;
}
.navMenu input[type="search"]:-ms-input-placeholder {
    color: #4d4d4d;
}
.navMenu input[type="search"]::-ms-input-placeholder {
    color: #4d4d4d;
}
.navMenu input[type="search"]::placeholder {
    color: #4d4d4d;
}
.navMenu input[type="search"]:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 50px #333 inset;
    color: #4d4d4d!important;
}

.navMenu input[type="submit"] { 
    cursor: pointer;
    position: relative;
    border: none;
    float: none;
    margin: 0;
    padding: 0;
    width: 3.6rem;
    z-index: 2;
    background-color: transparent;
}

.navMenu input[type="submit"]:active,
.navMenu input[type="submit"]:hover,
.navMenu input[type="submit"]:focus{
    background-color: transparent;
}

@media only screen and (max-width: 991px){
    .navMenu .search-form{
        width: calc(100% - 5rem);
        background-color: #f9f9f9;
        border-left: 1px solid #e5e5e5;
        height: 4rem;
    }

    .navMenu .search-form label{
        width: 100%;
        height: 100%;
    }

    .navMenu input[type="search"]{
        width: calc(100% - 3.6rem);
    }

    .navMenu input[type="search"]:hover,
    .navMenu input[type="search"]:active,
    .navMenu input[type="search"]:focus{ 
        width: calc(100% - 3.6rem);
    }
}