@import url("fonts.css");
@import url("media.css");


@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

@-ms-viewport
{
    width: auto!important;
    initial-scale: 1;
}
@viewport
{
    width: device-width;
    initial-scale: 1;
}
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Hiragino Sans", "Noto Sans CJK JP", "Original Yu Gothic", "Yu Gothic", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji";
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: #333333;
    line-height: 1.75;
    background-color: #f9f9f9;
}


textarea {
    border-color: #dfdfdf;
    padding: 0.6em;
    background-color: #f9f9f9;
    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    transition: border-color 0.3s;
}

textarea:focus {
    border: 1px solid #dfdfdf;
    outline: none;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    clear: both;
    border: 1px solid #dfdfdf;
    border-radius: 0;
    padding: 0.6em;
    height: 32px;
    width: 100%;
    max-width: 100%;
    font-weight: normal;
    background: url('../images/select.png') no-repeat right #ffffff;
    background-size: auto 100%;
}

select option { 
    padding: 0.6em; 
}


/* Media */
.wp-caption-text {
    background-color: #f9f9f9;
    padding: 1rem 0.5rem;
    border: 1px solid #dfdfdf;
    border-top: none;
    line-height: 1.4;
}

/* Category */
.category-description {
    display: inline-block;
    border-left: 1px dashed #dfdfdf;
    margin: 0 0 0 30px;
    padding: 10px 0 0 10px;
    font-size: smaller;
    color: #333333;
}

/* Excerpt */
.entryTypePostExcerpt .entryTitle {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3em;
}

.excerpt-thumbnail {
    box-sizing: border-box;
    float: left;
    margin-top: 5px;
    margin-right: 15px;
}

.excerpt p { margin-top: 15px; }


/* Footer */
footer input {
    border-right: none;
    background: #ffffff;
}

footer input:focus { border-right: none; }

footer .dynamic-sidebar-widget { padding: 0; }



/* Header */

@media only screen and (max-width: 767px){
    header.container-menu-side-open {
        width: 100%;
        margin-left: 0;
        padding-right: 15px;
    }

    header.container-menu-side-open .header-content {
        width: auto;
        margin-left: 200px;
    }

    header.container-aside-open {
        width: 100%;
        margin-right: 0;
        padding-right: 315px;
    }

    header.container-aside-open .header-content {
        width: inherit;
        margin-right: 300px;
    }
}

#logo {
    margin: 0;
    width: 100%;
}

#logo .blog-name {
    margin: 0;
    padding: 0;
    border: none;
}

.logo-img {
    width: 60rem;
    height: auto;
}

.blog-description {
    display: block;
    margin: 0;
}

@media only screen and (max-width:576px){
    .logo-img {
        width: 100%;
    }
}

/* Column*/
body > .container-fluid{
    margin: 0;
    padding: 0;
}

body > .container-fluid > .meta.clearfix {
    position: relative;
    margin-top: 0; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
body > .container-fluid > .meta.clearfix .navMenuButton {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem 0 0 1rem;
}
body > .container-fluid > .meta.clearfix{
    min-height: 100vh;
}

.postContainer,
.pageContainer{
    width: calc(100% - 30rem);
}

.pageContainer{
    padding: 0 0 3.2rem;
}

.postContainer,
.pageInner{
    padding: 3.2rem 0;
}

.list-breadcrumb{
    padding: 0.775rem 3rem;
    font-size: 1.4rem;
    margin-bottom: 0;
    scrollbar-width: thin;
    scrollbar-color: #dfdfdf #f9f9f9;
    border-bottom: 1px solid #dfdfdf;
    white-space: nowrap;
}

.list-breadcrumb li{
    display: inline-block;
}

.list-breadcrumb li:not(:first-child){
    padding-left: 3rem;
    position:relative;
}

.list-breadcrumb li:not(:first-child)::before{
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 4px;
    height: 4px;
    border: 4px solid transparent;
    border-left: 4px solid #333333;
    top: 0;
    bottom: 0;
    left: 1.2rem;
    margin: auto;
    vertical-align: middle;
}

.list-breadcrumb li a .fa-home{
    margin-right: 0.5rem;
}

.list-breadcrumb .simplebar-track{
    opacity: 0;
}

.list-breadcrumb:hover .simplebar-track {
    opacity: 1;
}

@media only screen and (max-width: 767px){
    .list-breadcrumb{
        padding: 5px 10px;
        overflow: auto;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 991px){
    body >.container-fluid > .meta.clearfix{
        display: block;
    }
    body >.container-fluid > .meta.clearfix .navMenuButton.navMenuButtonActive{
        position: fixed;
        width: 100%;
        margin: 0;
    }
    .pageContainer,
    .postContainer{
        width: 100%;
        border :none;
    }
}