<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteRule ^archives/3584$ /online/zoom/account [R=301,L]
RewriteRule ^archives/3935$ /online/zoom/account [R=301,L]
RewriteRule ^archives/3997$ /online/zoom/account [R=301,L]
# RewriteRule ^元ページ$ リダイレクト先 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>