<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteRule ^archives/3584$ /zoom/account [R=301,L]
RewriteRule ^archives/3935$ /zoom/account [R=301,L]
RewriteRule ^archives/3997$ /zoom/account [R=301,L]
RewriteRule ^online/zoom$ /zoom [R=301,L]
RewriteRule ^online/zoom/manual$ /zoom/zoom_tea [R=301,L]
RewriteRule ^archives/3461$ /zoom/zoom_stu [R=301,L]
RewriteRule ^online/zoom/secure$ /zoom/secure [R=301,L]
RewriteRule ^online/zoom/faq$ /zoom/faq [R=301,L]
RewriteRule ^archives/3488$ https://spirit.rikkyo.ac.jp/cdshe/online_class/SitePages/law.aspx [R=301,L]
RewriteRule ^online/tips$ https://spirit.rikkyo.ac.jp/cdshe/online_class/SitePages/know-how.aspx [R=301,L]
RewriteRule ^archives/3656$ online/online_stu [R=301,L]
# RewriteRule ^元ページ$ リダイレクト先 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>