<!-- wp:template-part {"slug":"header-top","tagName":"header"} /-->
<!-- wp:pattern {"slug":"headerLogo"} /-->
<div class="container-fluid">
    <div class="container-inner">
        <!-- wp:template-part {"slug":"navigation","tagName":"div"} /-->
        <main id="lyt-main">
            <div class="lyt-main-content">
                <!-- wp:post-content {"layout":{"inherit":true}} /-->
            </div>
        </main>
    </div>
</div>
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
