<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<div class="container-fluid">
    <div class="container-inner">
        <!-- wp:template-part {"slug":"navigation","tagName":"div"} /-->
        <main id="lyt-main">
            <!-- wp:pattern {"slug":"breadcrumb"} /-->
            <div class="lyt-main-title">
                <!-- wp:post-title {"level":1} /-->
            </div>
            <div class="lyt-main-content">
                <!-- wp:post-content {"layout":{"inherit":true}} /-->
            </div>
        </main>
    </div>
</div>
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
